<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="lib/todomvc-app-css/index.css">
<link rel="shortcut icon" href="favicon.ico">
<script src="//s3.eu-central-1.amazonaws.com/catberry/todo.externals.min.js"></script>
<script src="config.js"></script>
<script src="app.js"></script>
