<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
	<cat-todo-app id="js-cat-todo-app"></cat-todo-app>
	<cat-footer id="js-cat-footer"></cat-footer>
	<!-- Scripts here. Don't remove ↓ -->
	<!--<script src="lib/todomvc-common/base.js"></script>-->
</body>
</html>
