<footer class="info" id="info">
	<p>Double-click to edit a todo</p>
	<p>Created by <a target="_blank" href="https://twitter.com/jughosta">@jughosta</a></p>
	<p>Part of <a target="_blank" href="http://todomvc.com">TodoMVC</a></p>
</footer>
