<ul id="filters">
	<li>
		<a {{#if showAll}}class="selected"{{/if}} href="/">All</a>
	</li>
	<li>
		<a {{#if showFiltered.active}}class="selected"{{/if}} href="/active">Active</a>
	</li>
	<li>
		<a {{#if showFiltered.completed}}class="selected"{{/if}} href="/completed">Completed</a>
	</li>
</ul>
