<!-- This section should be hidden by default and shown when there are todos -->
{{#if hasItems}}
	<section class="main" id="main">
		<cat-todo-toggle id="js-cat-todo-toggle" cat-store="TodoList"></cat-todo-toggle>
		<cat-todo-list id="js-cat-todo-list" cat-store="TodoList"></cat-todo-list>
	</section>
{{/if}}
