<section class="todoapp" id="todoapp">
	<cat-todo-header id="js-cat-todo-header"></cat-todo-header>
	<cat-todo-content id="js-cat-todo-content" cat-store="TodoList"></cat-todo-content>
	<cat-todo-footer id="js-cat-todo-footer" cat-store="TodoList"></cat-todo-footer>
</section>
